<div class='body'>
      <div class='container'>

      	<div class="row about">
      		<div class="about-text">
				<h1>　Your Novelsとは？</h1>
					<p>　　「Your Novels」は手軽に小説を書く事ができるサイトです。</p>
					<p>　　他の会員が書いた小説を読むこともできます。</p>
					<p>　　小説の閲覧はログイン無しで利用できます。</p>
					<p>　　その他の機能をご利用になる場合は、ログインまたは新規登録をお願いいたします。</p>
			</div>
		</div>

		<div class="row about-function">
			<div class="col-xs-6">
				<h2>メイン機能</h2>
				<%= image_tag 'pen.jpg', :size =>'300x300' %>
					<h3>1.小説の作成</h3>
						<p>テキストエディタを実装しているため、Web上でもWordなどに近い使い勝手で手軽に文章を書く事ができます。</p>
					<h3>2.メモ機能</h3>
						<p>下書きや設定を書き溜めておくのに便利なメモ機能があります。メモを閲覧できるのは貴方だけなので、ネタバレの心配をする必要もありません。</p>
			</div>

			<div class="col-xs-6">
			<h2>その他の機能</h2>
			<%= image_tag 'note.jpg', :size =>'300x300' %>
				<h3>1.小説の閲覧</h3>
					<p>自分で小説を書くだけでなく、他のユーザーが書いた作品を読むこともできます。</p>
					<p>気に入った作品には、コメントを残したり、いいねをつける事ができます。</p>
				<h3>2.小説の検索</h3>
					<p>小説は「キーワード」または「ジャンル」で探すことができます。</p>
					<p>トップページでは、いいねが多い作品をランキングにして表示しています。気になる作品が見つかるかもしれません。</p>
			</div>
		</div>

	</div>
</div>