<div class='body'>
      <div class='container'>

		<h1>Your Novelsとは？</h1>
			<p>「Your Novels」は手軽に小説を書く事ができるサイトです。他の会員が書いた小説を読むこともできます。</p>

		<h3>メイン機能</h3>
			<p>・小説の作成</p>
			<p>・メモ機能（下書きや設定メモなどに使えます）</p>

		<h3>その他の機能</h3>
			<p>・小説の閲覧</p>
			<p>・小説の検索</p>
			<p>・小説へのコメント、いいね機能</p>
			<p>・ランキング</p>
			<p>・小説へのタグ設定機能とタグ検索機能</p>

	</div>
</div>