// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-introduction {
	background: image-url("top.jpg");
	background-size: cover;
	height: 400px;
}

.top-introduction-text{
	color: #FFFFCC;
	font-size: 17px;
	font-family: "Impact";
}

.about{
	background: image-url("about.jpg");
	background-size: cover;
	height: 400px;
}

.about-text{
	color: #FFFFCC;
	font-size: 17px;
	font-family: "Impact";
}
