<div class='container'>
	<div class="row">
<!-- サイドバー -->
			<div class="col-xs-3" >
				<%= render 'users/user_info' %>
			</div>
<!-- メイン -->
			<div class="col-xs-9">
				<p>form_for/form_with</p>
				<p>タイトル：text_field</p>
				<p>本文：summernote</p>
				<p>ユーザーid：hidden_field</p>
				<p>submitボタン</p>
			</div>
	</div>
</div>