<% if @novel.errors.any? %>
    <div class = "alert alert-warning">
        <ul>
        	<% @novel.errors.count%>errors
            <% @novel.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>