<% if @memo.errors.any? %>
    <div class = "alert alert-warning">
        <ul>
        	<% @memo.errors.count%>errors
            <% @memo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>